@model IEnumerable<MVC_EF_DBFirst.Models.Order>
@{
    ViewBag.Title = "MultipleData";
}
@*<h2>Multiple data using Dynamic object</h2>
@foreach(var v in Model)
            {
                <ul>
                    <li>v</li>
                </ul>
            }*@
<h2>Multiple Data Thru Navigation</h2>
@foreach(var item in Model)
            {
                <ul>
                    <li>Order ID : @item.OrderID</li>
                    <li>Customer Name : @item.Customer.ContactName</li>
                    <li>Employee Last Name  : @item.Employee.LastName</li>
                    <li>Shipper Name : @item.Shipper.CompanyName</li>
                    <li>Order Details :
                    <ul>
                        @foreach(var o in item.Order_Details)
                {
                    <li>Product Id : @o.ProductID</li>
                    <li>Quantity Ordered :  @o.Quantity</li>
                    <li>Unit Price : @o.UnitPrice</li>
                }
                    </ul>
                    </li>
                </ul>
            }

